@import "../../index.scss";

.slider {
  &__container {
    padding: 184px 230px 229px;

    @include tablet {
      padding: 70px 40px 120px;
    }
  }

  &__slide {
    text-align: center;
  }

  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 83px;
    color: #f2f4f7;
    margin-bottom: 32px;

    @include mobile {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 21px;
    color: #f2f4f7;
    margin-bottom: 60px;

    @include mobile {
      font-size: 10px;
      line-height: 10px;
    }
  }

  &__button {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 21px;
    padding: 16px 96px;
    background: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
    background-clip: text;
    color: transparent;
    border: 3px solid transparent;
    border-image: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
    border-image-slice: 1;

    @include mobile {
      font-size: 10px;
      padding: 8px 44px;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dot {
    list-style-type: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 16px;
    background: transparent;
    border: 3px solid rgba(196, 196, 196, 0.16);

    @include mobile {
      width: 6px;
      height: 6px;
    }
  }

  &__dot--active {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 16px;
    background: transparent;
    border: 3px solid #ffffff;

    @include mobile {
      width: 6px;
      height: 6px;
    }
  }
}
